.firstdiv {
  width: 50%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.containermainadmin {
  width: 70%;
  margin-top: 20px;
}

.buttonMainAdmin {
  width: 200%;
  border: Blue;
  color: white;
  text-align: center;
  margin-left: -20px;
  margin-bottom:20px;
}

.logo-admin {
  height: 7%;
  width: 17%;
  margin-top: 20px;
}

@media only screen and (max-width: 1024px) {
  .firstdiv {
    width: 80%;
  }
  .h1 {
    font-size: 35px;
  }
}
@media only screen and (max-width: 771px) {
  .firstdiv {
    width: 100%;
  }
  .h1 {
    font-size: 25px;
  }
}
